.git
.gitignore
.gitattributes
.env
.env.*.php
.DS_Store
.idea
.vscode
*.log
node_modules
.npm
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
public/hot
tests
.phpunit.result.cache
phpunit.xml
.editorconfig
README.md
docker-compose.override.yml
